#logo {
    margin-left:auto;
    margin-right:auto;
    width:20%
}

#menu {
    float:left;
    padding:2%;
}

#main {
    width:60%;
    text-align:justify;
    margin:auto;
}

body {
    background-color:#111111;
    background-image:url('logo.png');
    background-repeat:no-repeat;
    color:#AAAAAA;
    font-family:Arial,Helvetica,sans-serif;
}

#menu li {
    color:#BBBBBB;
    padding:20px;
    font-size:1.5em;
    list-style-type:none;
}

#menu a {
    text-decoration:none;
}

#menu li:hover {
    background-color:#222222;
}
